* {
  margin: 0;
  padding: 0;
}

#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 50px 0;
}

.navbar-brand {
  font-size: 1.3em;
  text-transform: uppercase;
  color: #ccc limportant;
}

.nav-items {
  font-size: 1.5em;
  text-transform: uppercase;
  padding-left: 50px;
  color: white;
}

.nav-link {
  color: #ccc limportant;
  letter-spacing: 2px;
  font-size: 1em;
}

#home {
  padding-right: 800px;
}

/* Main Section */

.main {
  position: relative;
  background: url(/images/img1.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 280px;
}

#summerpop {
  padding-top: 15%;
  padding-left: 15%;
}

#summerpop h2 {
  font-size: 3.5em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#summerpop p {
  margin: 2px;
  padding: 30px 0;
  font-size: 30px;
  color: white;
}

.readMore {
  text-decoration: none;
  outline-style: solid;
  padding: 10px 70px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.readMore:hover {
  color: orange;
  outline-color: orange;
}

/* Who are we Section */
#learn {
  position: relative;
  background: url(/images/img3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#learn h2 {
  padding-top: 10%;
  font-weight: bold;
  font-size: 2.8em;
  padding-bottom: 4.8%;
}

#parag p {
  font-size: 22px;
  padding: 0 3%;
}

/* 3 images/row column */

.yourText {
  text-decoration: none;
  color: rgb(221, 97, 167);
  padding: 10px 70px;
  outline-style: solid;
  outline-color: rgb(220, 96, 168);
  border-radius: 5rem;
  text-transform: uppercase;
  font-size: 22px;
}

.yourText:hover {
  color: orange;
  outline-color: orange;
}
/* End of 3 images/row column */

/* page 1 - last page */
#last {
  position: relative;
  background: url(/images/img22.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#lastPage {
  padding-top: 10%;
  color: white;
}

#lastPage h5 {
  padding-bottom: 30px;
  color: white;
  font-size: 25px;
}

#lastPage p {
  font-size: 20px;
  padding: 0 30px 0 0;
}

.palm1 {
  position: absolute;
  width: 222px;
  height: 411px;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}

.palm2 {
  position: absolute;
  width: 155px;
  height: 251px;
  bottom: 0;
  left: 100px;
  opacity: 0.3;
}

.palm3 {
  position: absolute;
  width: 232px;
  height: 411px;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.palm4 {
  position: absolute;
  width: 125px;
  height: 181px;
  bottom: 0;
  right: 120px;
  opacity: 0.3;
}

/* End of page 1 - last page */

/* Start of 2nd page design */
.secondpage {
  position: relative;
  background: url(/images/img13.jpg);
  min-height: 95vh;
  background-size: cover;
}

#pagetwo {
  padding-top: 20px;
  margin-left: 20px;
  padding-top: 50px;
  padding-left: 50px;
}

#pagetwo h2 {
  font-size: 3.8em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#pagetwo p {
  margin: 2px;
  padding: 30px 0;
  font-size: 20px;
  color: white;
}

.here {
  text-decoration: none;
  border-radius: 30px;
  background: white;
  padding: 15px 70px;
  color: rgb(221, 97, 167);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.here:hover {
  color: orange;
  outline-color: orange;
}

#tickets {
  padding: 20% 5% 0 20%;
}

#last2nd {
  position: relative;
  background: url(/images/img22.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}
/* End of 2nd page design */
