.masthead {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
}

.nav-items {
  font-size: 1.3em;
  text-transform: uppercase;
  padding-left: 50px;
}

/* Main Section */

#summerpop {
  padding-top: 25%;
  text-align: right;
}

#summerpop h2 {
  font-size: 3.5em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 1;
}

#summerpop p {
  margin: 2px;
  padding: 30px 0;
  font-size: 30px;
  color: white;
}

.readMore {
  text-decoration: none;
  outline-style: solid;
  padding: 10px 70px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.readMore:hover {
  color: orange;
  outline-color: orange;
}

/* Objects for MainPage*/

.style1 {
  transform: rotate(90deg);
  width: 55px;
  height: 44px;
  top: 6.5rem;
  left: 37rem;
  filter: grayscale(50%);
  position: absolute;
}

.style2 {
  transform: rotate(90deg);
  width: 55px;
  height: 44px;
  right: 5rem;
  position: absolute;
}

.style3 {
  transform: rotate(280deg);
  width: 55px;
  height: 44px;
  left: 8rem;
  bottom: 17rem;
  position: absolute;
}

.style4 {
  transform: rotate(280deg);
  width: 55px;
  height: 44px;
  right: 30rem;
  bottom: 10rem;
  filter: grayscale(50%);
  position: absolute;
}

.style5 {
  transform: rotate(270deg);
  height: 64px;
  top: 12rem;
  right: 43rem;
  position: absolute;
}

.style6 {
  transform: rotate(270deg);
  height: 64px;
  bottom: 4rem;
  left: 43rem;
  position: absolute;
}

.style7 {
  transform: rotate(278deg);
  height: 174px;
  top: 8.5rem;
  left: 36rem;
  position: absolute;
}

.style8 {
  transform: rotate(90deg);
  height: 174px;
  bottom: 3rem;
  right: 43rem;
  position: absolute;
}

.style9 {
  transform: rotate(90deg);
  height: 164px;
  top: 12rem;
  left: 13rem;
  position: absolute;
}

.style10 {
  transform: rotate(90deg);
  height: 164px;
  right: 5rem;
  bottom: 2rem;
  position: absolute;
}

.style11 {
  transform: rotate(270deg);
  height: 180px;
  left: 12rem;
  bottom: 10rem;
  position: absolute;
}

.style12 {
  transform: rotate(90deg);
  height: 180px;
  right: 9rem;
  top: 9rem;
  position: absolute;
}

.style13 {
  transform: rotate(90deg);
  height: 80px;
  bottom: 12rem;
  left: 29rem;
  position: absolute;
}

.style14 {
  transform: rotate(90deg);
  z-index: 1;
  height: 80px;
  top: 14rem;
  right: 31rem;
  position: absolute;
}

/* End of objects for MainPage*/
/* End of Main Section */

/* 3 images/row column */
#yourtext {
  padding: 2.5rem 0 10rem 1rem;
  position: relative;
}

.yourText {
  text-decoration: none;
  color: rgb(221, 97, 167);
  padding: 10px 70px;
  outline-style: solid;
  outline-color: rgb(220, 96, 168);
  border-radius: 5rem;
  text-transform: uppercase;
  font-size: 22px;
}

.yourText:hover {
  color: orange;
  outline-color: orange;
}
/* End of 3 images/row column */

/* page 1 - last page */
#last {
  position: relative;
  background: url(/images/img22.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

#lastPage {
  padding-top: 10%;
  color: white;
}

#lastPage h5 {
  padding-bottom: 30px;
  color: white;
  font-size: 25px;
}

#lastPage p {
  font-size: 20px;
  padding: 0 30px 0 0;
}

.palm1 {
  position: absolute;
  width: 222px;
  height: 411px;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}

.palm2 {
  position: absolute;
  width: 155px;
  height: 251px;
  bottom: 0;
  left: 100px;
  opacity: 0.3;
}

.palm3 {
  position: absolute;
  width: 232px;
  height: 411px;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

.palm4 {
  position: absolute;
  width: 125px;
  height: 181px;
  bottom: 0;
  right: 120px;
  opacity: 0.3;
}

/* End of page 1 - last page */

/* Start of 2nd page design */
/* Home Page */
.secondpage {
  position: relative;
  background: url(/images/img13.jpg);
  min-height: 100vh;
  background-size: cover;
  padding: 50px;
  background-size: cover;
  background-position: center;
}

#tickets {
  position: relative;
}

#tickets h2 {
  position: absolute;
  font-size: 3.9em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  top: 15rem;
  right: -30%;
  text-align: right;
}

#tickets p {
  position: absolute;
  padding-left: 8.8rem;
  top: 26rem;
  right: -30%;
  text-align: right;
  font-size: 20px;
  color: white;
}

.here {
  text-decoration: none;
  outline-style: solid;
  padding: 10px 70px;
  border-radius: 30px;
  background: white;
  color: rgb(221, 97, 167);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.here:hover {
  color: orange;
  outline-color: orange;
}

#last2nd {
  position: relative;
  background: url(/images/img22.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}

#last2nd h5 {
  padding-top: 30px;
  color: white;
  font-size: 30px;
}

#last2nd p {
  font-size: 30px;
  color: white;
}

#last2nd .spiral1 {
  position: absolute;
  top: 13rem;
  right: 20rem;
}
/* End of Home Page */

/* Objects - 2nd Group in SecondPage */

#obj {
  position: relative;
}

.img fluid {
  z-index: 1;
  top: 5rem;
}

.obj4 {
  position: absolute;
  transform: rotate(90deg);
  left: 30rem;
  top: 25.8rem;
  z-index: -1;
  width: 250px;
  max-width: 250px;
  height: 293px;
}

/* Objects - 2nd Group in SecondPage */

/* 2nd Page DavidJohnson and 1st Page WhoAreWe*/
#sameObject {
  padding: 10rem;
  font-size: 20px;
  position: relative;
}

#sameObject p {
  padding: 0 5rem;
}

/* Objects */
.triangle {
  position: absolute;
  left: 7rem;
  top: 30px;
}

.circle {
  position: absolute;
  left: 16rem;
  top: 20px;
}

.spiral {
  position: absolute;
  right: 10rem;
  top: 0;
}

/* End of Objects */
/* End of2nd Page DavidJohnson and 1st Page WhoAreWe*/

/* Second Page footer */

.lastsecondpage {
  padding-top: 10%;
  color: white;
}

ion-icon {
  font-size: 40px;
  color: white;
}

#socialMedia h5 {
  padding-bottom: 30px;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

#socialMedia p {
  font-size: 20px;
  padding: 0 30px 0 0;
}

/* End of Second Page footer */

/* Breakpoints */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 614px) {
  .masthead {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 50vh;
  }
  .navbar {
    padding-top: 1.5rem;
  }

  .nav-items {
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 50px;
  }
  .style1,
  .style2,
  .style3,
  .style4,
  .style6,
  .style5,
  .style7,
  .style8,
  .style9,
  .style10,
  .style11,
  .style12,
  .style13,
  .style14 {
    display: none;
  }

  #summerpop {
    padding-top: 28%;
  }
  #summerpop h2 {
    font-size: 1.9em;
  }
  #summerpop p {
    font-size: 15px;
  }

  #last2nd p {
    font-size: 18px;
  }
  #last2nd .spiral1 {
    top: 19rem;
    right: 1rem;
    height: 167px;
  }

  .circle {
    left: 4rem;
    height: 39px;
  }
  .triangle {
    top: 2rem;
    left: 1rem;
    height: 190px;
    z-index: -1;
  }
  .spiral {
    height: 166px;
  }
  #last2nd .spiral1 {
    top: 19rem;
    right: 1rem;
    height: 177px;
  }
  #last2nd h5 {
    padding-top: 1px;
    font-size: 20px;
    text-align: center;
  }
  #sameObject {
    font-size: 22px;
  }
  .here {
    font-size: 15px;
    padding: 5px 40px;
  }
}
/* End of @media (max-width: 576px)  */

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .masthead {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 70vh;
  }

  .nav-items {
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 5px;
  }

  /* Main Section */

  #summerpop {
    text-align: right;
    padding-top: 5rem;
    position: relative;
  }

  #summerpop h2 {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

  #summerpop p {
    margin: 2px;
    padding: 5px 0;
    font-size: 15px;
    color: white;
  }
  .readMore {
    text-decoration: none;
    outline-style: solid;
    padding: 5px 20px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .readMore:hover {
    color: orange;
    outline-color: orange;
  }
  /* Objects for MainPage*/

  #objectMain .container {
    position: relative;
  }

  .style1 {
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
    top: 3.5rem;
    left: 13rem;
    filter: grayscale(50%);
    position: absolute;
  }

  .style3 {
    transform: rotate(280deg);
    width: 20px;
    height: 20px;
    left: 2.5rem;
    bottom: 7rem;
    position: absolute;
  }

  .style4 {
    transform: rotate(280deg);
    width: 20px;
    height: 20px;
    right: 1rem;
    bottom: 3.5rem;
    filter: grayscale(50%);
    position: absolute;
  }

  .style5 {
    transform: rotate(270deg);
    height: 20px;
    top: 5rem;
    left: 25rem;
    position: absolute;
  }

  .style6 {
    transform: rotate(270deg);
    height: 20px;
    bottom: 4rem;
    left: 15.5rem;
    position: absolute;
  }

  .style7 {
    transform: rotate(278deg);
    height: 80px;
    top: 4.5rem;
    left: 12rem;
    position: absolute;
  }

  .style8 {
    transform: rotate(90deg);
    height: 80px;
    bottom: 4rem;
    left: 21rem;
    position: absolute;
  }

  .style11 {
    transform: rotate(270deg);
    height: 80px;
    left: 4rem;
    bottom: 4rem;
    position: absolute;
  }

  .style13 {
    transform: rotate(90deg);
    height: 35px;
    bottom: 6rem;
    left: 9.5rem;
    position: absolute;
  }

  .style12,
  .style2,
  .style14,
  .style9,
  .style10 {
    display: none;
  }

  /* Who Are We section */
  #sameObject {
    position: relative;
    padding: 4rem 4rem 3rem 4rem;
  }

  #sameObject h2 {
    font-size: 17px;
    padding-top: 0;
  }

  #sameObject p {
    font-size: 15px;
    padding: 1rem 0;
    margin: 0;
  }

  .triangle {
    height: 130px;
    position: absolute;
    left: 2rem;
    top: 3rem;
    z-index: -1;
  }
  .circle {
    position: absolute;
    width: 43px;
    height: 45px;
    left: 6rem;
    top: 2rem;
  }
  .spiral {
    position: absolute;
    height: 183px;
    top: 1rem;
    right: 2rem;
    z-index: -1;
  }

  /* yourtext */

  .yourText {
    padding: 10px 30px;
    border-radius: 5rem;
    font-size: 20px;
  }

  /* page 1 - last page */
  #last {
    position: relative;
    background: url(/images/img22.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  #lastPage h5 {
    font-size: 20px;
  }

  #lastPage p {
    font-size: 15px;
  }

  .palm1,
  .palm2,
  .palm3,
  .palm4 {
    display: none;
  }
  /* End of page 1 - last page */

  /* Second Page */
  .secondpage {
    position: relative;
    min-height: 50vh;
    background-size: cover;
  }

  .here {
    text-decoration: none;
    outline-style: solid;
    padding: 5px 30px;
    border-radius: 30px;
    background: white;
    color: rgb(221, 97, 167);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .here:hover {
    color: orange;
    outline-color: orange;
  }
  /* Objects - 2nd Group in SecondPage */
  #obj {
    position: relative;
  }

  .obj4 {
    width: 130px;
    height: 183px;
    left: 5rem;
    position: absolute;
    top: 66rem;
  }

  /* last second page */
  #last2nd {
    position: relative;
    background: url(/images/img22.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
  }
  #last2nd h5 {
    padding-top: 10px;
    color: white;
    font-size: 20px;
    align-self: center;
    text-align: center;
  }

  #last2nd p {
    font-size: 14px;
    color: white;
    align-self: center;
    text-align: center;
  }

  #last2nd .spiral1 {
    transform: rotate(180deg);
    position: absolute;
    top: 17.5rem;
    right: 2rem;
    height: 150px;
    width: 130px;
  }
  .lastsecondpage {
    padding-top: 5%;
    color: white;
  }

  ion-icon {
    font-size: 25px;
  }

  #socialMedia h5 {
    padding-top: 30px;
    font-size: 23px;
  }

  #socialMedia p {
    font-size: 18px;
  }
}
/* End of @media (max-width: 768px)  */

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .masthead {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 50vh;
  }

  .nav-items {
    font-size: 25px;
    padding: 0 5px;
    text-transform: uppercase;
  }
  .navbar {
    padding-top: 1.5rem;
  }
  .style1 {
    width: 39px;
    height: 39px;
    top: 4.5rem;
    left: 15rem;
    position: absolute;
  }
  .style6 {
    height: 34px;
    bottom: 5rem;
    left: 22rem;
    position: absolute;
  }
  .style2 {
    width: 31px;
    height: 31px;
    right: 2rem;
    top: 10rem;
    position: absolute;
  }
  .style4 {
    width: 37px;
    height: 35px;
    right: 17rem;
    bottom: 3rem;
    position: absolute;
  }
  .style7 {
    height: 132px;
    top: 4.5rem;
    left: 14rem;
    position: absolute;
  }
  .style8 {
    height: 113px;
    bottom: 8rem;
    left: 31rem;
    position: absolute;
  }
  .style5 {
    height: 37px;
    top: 6rem;
    left: 34rem;
    position: absolute;
  }
  .style3 {
    width: 31px;
    height: 29px;
    left: 4rem;
    bottom: 12rem;
    position: absolute;
  }

  .style11 {
    height: 150px;
    left: 7rem;
    bottom: 5rem;
    position: absolute;
  }
  .style14,
  .style13,
  .style10 {
    display: none;
  }

  .style12 {
    height: 141px;
    right: 4rem;
    top: 4rem;
    position: absolute;
  }
  .style9 {
    height: 115px;
    top: 8rem;
    left: 3rem;
    position: absolute;
  }
  #summerpop {
    padding-top: 20%;
  }
  #summerpop h2 {
    font-size: 2.8em;
    color: white;
  }
  #summerpop p {
    font-size: 20px;
  }

  .readMore {
    padding: 10px 37px;
  }

  #obj h3 {
    font-size: 23px;
  }
  #obj p {
    font-size: 18px;
  }

  #sameObject {
    padding: 4rem;
  }
  .triangle {
    height: 225px;
    z-index: -1;
    left: 2rem;
  }
  .circle {
    position: absolute;
    left: 6rem;
    height: 48px;
  }

  .spiral {
    position: absolute;
    right: 0rem;
    top: 0;
    height: 200px;
  }

  .yourText {
    padding: 10px 30px;
  }

  /*2nd Page */
  #last {
    position: relative;
    background: url(/images/img22.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }

  .secondpage {
    position: relative;
    min-height: 49vh;
  }
  #last2nd {
    position: relative;
    background: url(/images/img22.jpg);
    height: 350px;
  }

  #last2nd h5 {
    padding-top: 45px;
    font-size: 26px;
  }
  #last2nd p {
    font-size: 20px;
  }
  #last2nd .spiral1 {
    position: absolute;
    top: 13rem;
    right: 3rem;
    height: 230px;
  }

  p {
    font-size: 23px;
  }
  .h5,
  h5 {
    font-size: 26px;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .masthead {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 50vh;
  }

  .nav-items {
    font-size: 30px;
    padding: 0 24px;
    text-transform: uppercase;
  }
  .navbar {
    padding-top: 2.5rem;
  }
  .style1 {
    width: 40px;
    height: 44px;
    top: 6.5rem;
    left: 23rem;
  }
  .style2 {
    width: 28px;
    height: 29px;
    right: 2rem;
    top: 10rem;
  }
  .style3 {
    width: 38px;
    height: 42px;
    left: 5rem;
    bottom: 17rem;
  }
  .style4 {
    width: 39px;
    height: 38px;
    right: 15rem;
    bottom: 7rem;
  }

  .style5 {
    height: 43px;
    top: 9rem;
    right: 21rem;
    position: absolute;
  }
  .style6 {
    height: 44px;
    bottom: 8rem;
    left: 32rem;
  }
  .style7 {
    height: 163px;
    top: 7.5rem;
    left: 23rem;
  }
  .style8 {
    height: 124px;
    bottom: 11rem;
    right: 25rem;
  }
  .style9 {
    height: 128px;
    top: 3rem;
    left: 3rem;
  }
  .style10 {
    height: 109px;
    right: 3rem;
    bottom: 2rem;
  }
  .style11 {
    height: 160px;
    left: 8rem;
    bottom: 11rem;
  }
  .style12 {
    height: 149px;
    right: 4rem;
    top: 4rem;
  }
  .style13 {
    height: 64px;
    bottom: 13rem;
    left: 20rem;
  }
  .style14 {
    height: 56px;
    top: 10rem;
    right: 10rem;
  }
  #summerpop p {
    font-size: 23px;
  }
  .spiral {
    right: 6rem;
  }
  #last2nd .spiral1 {
    position: absolute;
    top: 13rem;
    right: 4rem;
  }
  .triangle {
    left: 2rem;
    height: 300px;
  }
  .circle {
    left: 9rem;
    height: 60px;
  }
  .yourText {
    padding: 10px 33px;
  }
  #lastPage {
    padding-top: 16%;
  }

  #obj p {
    font-size: 20px;
    text-align: center;
  }
  #last2nd p {
    font-size: 20px;
    text-align: center;
  }
  #last2nd h5 {
    padding-top: 51px;
    font-size: 28px;
    text-align: center;
  }
  #sameObject {
    padding: 7rem;
    font-size: 20px;
  }
  #sameObject h5 {
    font-size: 28px;
  }
}
